.formulario {
    display: grid;
    grid-template-columns: 2, 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .formulario-de-contacto {
        color: azure;
    }
    .nombre {
        color: azure;
    }
    .apellido {
        color: azure;
    }
    .titulo-del-texto {
        margin-bottom: 10px;
        color: azure;
    }
    .texto {
        margin-bottom: 30px;
        
    }
    .email {
        color: azure;
    }
    .enviar-mensaje {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    
}